<template>
    <div v-if="!loading" class="row">
        <div v-for="(item, index) in items" :key="index" class="card" style="width: 13rem; padding: 5px;">
            <!-- <img src="@/assets/image-2.png" class="card-img-top" alt="Missing"> -->
            <router-link tag="div" :to="{ path: '/item/' + item.id }">
                <img :src="item.photo" class="card-img-top" alt="Missing">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
            </router-link>
            <div class="card-footer">
                <span class="card-text">{{ item.price }}</span>
                <a @click="addToCart(item)" class="btn btn-primary">+ Add</a>
            </div>
        </div>
    </div>
    <h1 v-else>Loading...</h1>
</template>

<script>

import axios from 'axios'

export default {
    data() {
        return {
            loading: true
        }
    },
    computed: {
        items() {
            return this.$store.getters.getInventory
        }
    },
    mounted() {
        this.fetchInventory()
    },
    methods: {
        addToCart(item) {
            this.$store.dispatch('addToCart', item)
        },
        fetchInventory() {
            var self = this
            axios.get('http://localhost:3000/items').then(response => {
                // setTimeout(function() {
                    self.$store.commit('setInventory', response.data)
                    self.loading = false
                // }, 2000)
            })
        }
    }
}
</script>

<style>

</style>
